<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.ubtrobot.master.permission.MASTER" />
    <uses-permission android:name="com.ubtrobot.master.permission.MASTER_SYSTEM_SERVICE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--      tools:ignore="ProtectedPermissions" />-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
<!--    <uses-permission android:name="android.permission.SHUTDOWN" />-->

    <application
        android:name="com.ubtrobot.mini.sdkdemo.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ubtrobot.mini.sdkdemo.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uiActivities.FaceApiActivity" />

        <receiver
            android:name=".custom.ShutdownReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                <!-- Đối với một số thiết bị HTC -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".custom.BatteryReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".uiActivities.MicrophoneActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ubtrobot.mini.sdkdemo.uiActivities.ActionApiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uiActivities.SysEventTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ubtrobot.mini.sdkdemo.uiActivities.TakePicApiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".uiActivities.FaceApiCRUD"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ubtrobot.mini.sdkdemo.activity.RobotWebRTCActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".socket.RobotSocketClient"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".socket.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- For some HTC devices -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="ubt-master-app"
            android:value="third_part_speechservice" />
        <activity
            android:name=".uiActivities.SpeechApiActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>